
<div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Cedula</th>
          <th>Correo</th>
          <th>Nro sala</th>
    
        </tr >
      </thead>
      <tbody>
        <tr *ngFor="let todo of todoList;index as i">
          
          <td> {{todo.id}}  </td>
            <td>{{todo.nombre}}</td>
            <td>{{todo.cedula}}</td>
            <td>{{todo.correo}}</td>
            <td>{{todo.salaId}}</td>
           
      
        </tr>
      </tbody>
    </table>
    </div>
    