
<div class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Nombre sala</th>
      <th>Precio</th>
      <th>Capacidad</th>
      <th>Acciones</th>
    </tr >
  </thead>
  <tbody>
    <tr *ngFor="let todo of todoList;index as i">
      
      <td> {{todo.id}}  </td>
        <td>{{todo.title}}</td>
        <td>{{todo.precio}}</td>
        <td>{{todo.capacidad}}</td>
        <td>
          <button type="button" class="btn btn-link"><a [routerLink]="['/actu-sala',  todo.id ]" >editar sala</a></button>
          <button type="button" class="btn btn-link" (click)="deleteTodo(todo.id)">Eliminar</button>
        </td>
    </tr>
  </tbody>
</table>
</div>

