<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let todo of todoList; index as i"  >
    <mat-card class="example-card" >
      <mat-card-header>
        <mat-card-title>{{ todo.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
    
      </mat-card-content>
      <mat-card-actions class="botones">
     
      
        <button mat-raised-button color="primary" [routerLink]="['/registro-usuario',  todo.id ]" >Añadir participante</button>
        <button mat-raised-button color="accent" [routerLink]="['/lista-usuario',  todo.id ]">Lista de usuarios</button>
        
      </mat-card-actions>
      <mat-divider></mat-divider>
    
    <label>Total personas en sala: {{users[i].cantidad  }} </label>

    <br>
    <label>Total recaudado: {{users[i].ganancia  }}</label>
    <br>
    <button mat-raised-button color="warn"  [routerLink]="['/ruleta',  todo.id ]"> JUGAR</button>
    </mat-card>
    
  </mat-grid-tile>

 

</mat-grid-list>
