
<div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr >
      </thead>
      <tbody>
        <tr *ngFor="let todo of todoList;index as i">
          
          <td> {{todo.id}}  </td>
            <td>{{todo.nombre}}</td>
           
            <td>
              <button type="button" class="btn btn-link" (click)="editTodo(todo)">Actualizar</button>
              <button type="button" class="btn btn-link" (click)="deleteTodo(todo.id)">Eliminar</button>
            </td>
        </tr>
      </tbody>
    </table>
    </div>
    