

<div>
<mat-form-field appearance="fill">
  <label>Cedula:</label>
  <input matInput  [(ngModel)]="cedula" placeholder="Cedula"
         required>
</mat-form-field>
<mat-form-field appearance="fill">
  <label>Nombre</label>
  <input matInput  [(ngModel)]="nombre" placeholder="Nombre"
         required>
</mat-form-field>
<mat-form-field appearance="fill">
  <label>Correo</label>
  <input matInput  [(ngModel)]="correo" placeholder="correo"
         required>
</mat-form-field>
<mat-form-field appearance="fill">
  <label>Contrasena</label>
  <input matInput  [(ngModel)]="contrasena" placeholder="Contrasena"
         required>
</mat-form-field>

<br>

<button mat-raised-button color="primary"><a (click)="actuusuario()">Añadir usuario</a></button>

</div>






